<div id="index-banner" class="parallax-container">
	<div class="section no-pad-bot">
		<div class="container">
			<br><br>
			<h1 class="header center">もっと、本物の東京を。</h1>
			<div class="row center">
				<h5 class="header col s12 light">TokyoSearchを使って、これまで知らなかった東京を探しにいこう！</h5>
			</div>
			<div class="row center">
				<a href="#" id="locations" class="btn-large waves-effect waves-light teal lighten-1">CLICK ME<a>
			</div>
			<br><br>

		</div>
	</div>
	<div class="parallax"><img src="images/background5.jpg" alt="Tokyo Search"></div>
</div>
