<div class="container">
	<div class="section">

		<div class="row">
			<div class="col s12 center">
				<h3><i class="mdi-content-send brown-text"></i></h3>
				<h4>About Tokyo Search</h4>
				<p>TokyoSearchは、我々が「もっと東京の事を知りたい！」という思いから始まったサービスです。<br>
				Webから東京にまつわる情報を集め、現在いる場所やキーワードを元に、独自のキュレーションエンジンがあなたに最適な情報を提供します。<br>
				慌しい日常の中で、見落としていた街並み。旅行ガイドには乗っていない、隠れた名店。そして何より、今あなたが立っているその場所を、見知らぬ誰かはきっとあなたよりも知っています。<br>
				一つ一つは些細な情報でも、時間と場所、背景が変われば、それはきっと何者にも変えがたい、貴重な情報になる。<br>
				</p>
			</div>
		</div>

	</div>
</div>



